* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  
  nav{
      top: 0px;
      background: linear-gradient(to left, #1e0b2b, #943a7a ,#1e0b2b );
      height: 50px;
      width: 100%;
      text-align: center;
      align-items: center;
      position: sticky;
     }
  
  .tital{
          font-family: SONGER Condensed;
          color: #fff;
          font-size: 35px;  
          line-height: 50px;
          padding: 0 100px;
          font-weight: bold;
      }
  
  .container {
    height: 500px;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #fbfbfb;
    text-align: center;
  }
  
  .card {
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 600px;
    height: 280px;
    background-color: #ffffff;
    padding: 10px 30px 40px;
  }
  
  .card h3 {
    font-family: SONGER;
    font-size: 30px;
    font-weight: 600;
    
  }
  
  .drop_box {
    margin: 10px 0;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px dotted #a3a3a3;
    border-radius: 5px;
  }
  
  .drop_box h4 {
    font-family: Iwanbanaran;
    font-size: 20px;
    font-weight: 400;
    color: #000000;
  }
  
  .drop_box p {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
    color: #a3a3a3;
  }
  
  .btn {
    text-decoration: none;
    background-color: #005af0;
    color: #ffffff;
    padding: 10px 20px;
    border: none;
    outline: none;
    transition: 0.3s;
  }
  
  .btn:hover{
    text-decoration: none;
    background-color: #ffffff;
    color: #005af0;
    padding: 10px 20px;
    border: none;
    outline: 1px solid #010101;
  }
  .form input {
    margin: 10px 0;
    width: 100%;
    background-color: #6e1111;
    border: none;
    outline: none;
    padding: 12px 20px;
    border-radius: 4px;
  }
  
  
  .list a{
      text-decoration: none;
      display: flex;
      background: #920053;
      text-align: center;
      font-size: 20px;
      box-shadow: #44275f 0 10px 20px -10px;
      font-family: Bahnschrift;
      box-sizing: border-box;
      color: #ffff;
      border: 0 ;
      padding: 8px 5px;
      border-radius:8px;
      margin-bottom: 10%;
      margin-top: 10%;
      justify-content:center;
  }
  @media (max-width: 600px){
    .tital{
      font-size: 25px;
    }
  }
  
  @media (max-width: 600px){
  
  .container {
   margin-top: 125px;
   width: 400px;
     
  }
  .card h3 {
    font-family: SONGER;
    font-size: 20px;
    font-weight: 600;
    
  }
  }
  
  
